<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuenta">
 <template>
   <style>
     :host {
       display: block;

     }
   </style>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <div class="row">
          <h4 class="col-md-12">   Listado de Cuentas </h4>

        </div>


      <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"> Numero de Cuenta</th>
          <th scope="col">Saldo de la cuenta</th>

        </tr>
      </thead>
      <tbody>
        <template is= "dom-repeat" items="{{accounts}}">
          <tr>

          <td> {{iban}} </td>
          <td> {{importe}} </td>

          </tr>
        </template>


      </tbody>
    </table>

      <iron-ajax
        auto=""
        id="getAccount"
        url="http://localhost:3000/colapi/v3/users/{{id}}/accounts"
        handle-as="json"
        on-response="showData"></iron-ajax>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorCuenta extends Polymer.Element {
     static get is() { return 'visor-cuenta'; }
     static get properties() {
       return {
         id: {
           type: String
         },
         iban: {
           type: String
         },
         importe: {
           type: String
         }
       };
     }
     showData(data){
            //console.log(data);
            console.log("Recibidos datos del usuarios:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
            console.log(data.detail.response);
             this.id = data.detail.response.userid;
             this.iban = data.detail.response.iban;
             this.importe = data.detail.response.importe;
             this.accounts = data.detail.response;
            }

          }

   window.customElements.define(VisorCuenta.is, VisorCuenta);
 </script>
</dom-module>
