<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
 <!-- Plantilla del componente -->
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
   <div class="row">
     <h4 class="col-md-12">   Ingreso a las cuentas </h4>

   </div>
   <div class=" row">
   <form class="px-4 py-3">
     <div class="form-group">
       <!-- <label for="exampleDropdownFormEmail1">Email address</label> -->
       <input type="email" class="form-control" placeholder="email@example.com" value="{{email::input}}">
     </div>
     <div class="form-group">
       <!-- <label for="exampleDropdownFormPassword1">Password</label> -->
       <input type="password" class="form-control" placeholder="Password" value="{{pwd::input}}">
     </div>


      <button class="btn btn-primary" on-click="login">Ingresar</button>
      <!-- <button type="submit" class="btn btn-primary">Salir</button> -->
   </form>



   <span hidden$="{{!isLogged}}">Logado</span>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/colapi/v3/logines"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class LoginUsuario extends Polymer.Element {
     static get is() { return 'login-usuario'; }
     static get properties() {
       return {
         email: {
           type: String
         }, pwd: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         }
       };
     }

     login(e) {
       console.log("El usuario ha pulsado el botón.");
       var loginData = {
         "email" : this.email,
         "pwd" : this.pwd
       };

       this.$.doLogin.body = JSON.stringify(loginData);

       this.$.doLogin.generateRequest();
       console.log("Petición enviada");
       // para enviar lo q se necesita
       this.dispatchEvent(new CustomEvent('loginok',{detail:this.id}));
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
       console.log(data.detail.response);
          this.id = data.detail.response.id;
    //    this.email = data.detail.response.email;
    //    this.pwd = data.detail.response.pwd;
    //  //  this.isLogged = true;
     // redirigir
    // window.location = "/user/" + data.detail.response.idUsuario;
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuario.is, LoginUsuario);
 </script>
</dom-module>
