<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimiento">
 <template>
   <style>
     :host {
       display: block;

     }
   </style>
    <!-- <h2>Visor de movimientos!</h2> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <div class="row">
        <h4 class="col-md-12">   Listado de Movimientos Cuenta </h4>

      </div>


    <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Valor movimiento</th>
        <th scope="col">Descripción del movimiento</th>
      </tr>
    </thead>
    <tbody>


      <template is= "dom-repeat" items="{{movements}}">
        <tr>

        <td> {{item.fecha}} </td>
        <td> {{item.importe}} </td>
        <td> {{item.descripcion}} </td>
        </tr>
      </template>


    </tbody>
  </table>

      <iron-ajax
        auto=""
        id="getMovement"
        url="http://localhost:3000/colapi/v3/users/accounts/{{iban}}/movements"
        handle-as="json"
        on-response="showData"></iron-ajax>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorMovimiento extends Polymer.Element {
     static get is() { return 'visor-movimiento'; }
     static get properties() {
       return {
         id_miov: {
           type: String
         },
         fecha: {
           type: String
         },
         descripcion: {
           type: String
         },
         importe: {
           type: String
         },
         iban: {
           type: String
         }
       };
     }
     showData(data){
            //console.log(data);
            console.log("Recibidos datos del iban:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
            console.log(data.detail.response);
             this.id_miov = data.detail.response.id_miov
             this.iban = data.detail.response.iban;
             this.importe = data.detail.response.importe;
             this.fecha = data.detail.response.fecha;
             this.descripcion = data.detail.response.descripcion;
             this.movements = data.detail.response;
        //    this.accounts = data.detail.response;
            }

   }

   window.customElements.define(VisorMovimiento.is, VisorMovimiento);
 </script>
</dom-module>
