<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="demo-emisor">
  <template>
    <style>
      :host{
        display:block;
      }
    </style>
    <h1> emisor</h1>
    <button on-click="hacerLogin"> pulsame</button>
  </template>
  <script>
    class DemoEmisor extends Polymer.Element{
      static get is() {return 'demo-emisor';}
      static get properties() {
          return {

          };
      }
        hacerLogin(e){
          console.log(" emisor: he pulsado")
          this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"Fredy",origen:"techu",pais:"colombia"}}))
        }
    }
       window.customElements.define(DemoEmisor.is, DemoEmisor);
  </script>
</dom-module>
