<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/demo-padre/demo-emisor.html">
<link rel="import" href="/src/demo-padre/demo-receptor.html">

<dom-module id="demo-padre">
  <template>
    <style>
      :host{
        display:block;
      }
    </style>
    <h1> Padre </h1>
    <demo-emisor id="emisor"></demo-emisor>
    <demo-receptor id="receptor"></demo-receptor>
  </template>
  <script>
    class DemoPadre extends Polymer.Element{
      static get is() {return 'demo-padre';}
      ready(){
        super.ready()
        this.$.emisor.addEventListener('loginok', e =>{this.procesarLogin(e)})
        }
      static get properties() {
          return {
          }
          };

      procesarLogin(e){
        console.log(" soy el padre" + e.detail)
        this.$.receptor.mostrarDatosRecibidos(e.detail)

      }
    }
       window.customElements.define(DemoPadre.is, DemoPadre);
  </script>
</dom-module>
