<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
 <template>
   <style>
     :host {
       display: block;

     }
   </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <div class="alert alert-dark" role="alert">
    <h5 class="col-md-6">Usuario: {{first_name}} {{last_name}}  Email:{{email}}
    </h5>

   <!-- <h6 class="col-md-12">Email: {{email}} </h6> -->
  </div>

      <iron-ajax
        auto=""
        id="getUser"
        url="http://localhost:3000/colapi/v3/users/{{id}}"
        handle-as="json"
        on-response="showData"></iron-ajax>


 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class VisorUsuario extends Polymer.Element {
     static get is() { return 'visor-usuario'; }
     static get properties() {
       return {
         id: {
           type: String
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         email: {
           type: String
         }
       };
     }
     showData(data){
            //console.log(data);
            console.log("Recibidos datos del usuarios:");
      // mLab nos devuelve un array con el objeto solicitado por eso [0]
            console.log(data.detail.response);
             this.first_name = data.detail.response.first_name;
             this.last_name = data.detail.response.last_name;
             this.email = data.detail.response.email;
          }

   }

   window.customElements.define(VisorUsuario.is, VisorUsuario);
 </script>
</dom-module>




  <!--
    <div class="row">
       Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
        total columnas 12 (que indica el ancho máximo)
         media query
        <h1 class="col-md-12">Visor Usuario</h1>
        <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
        <h2 class="col-md-5">y mi email es {{email}}</h2>
        <button class="btn btn-link">
         <a href="http://localhost:3000/colapi/v3/users/{{id}}/accounts">Ver mis cuentas</a>
        </button>
      </div>
-->
