<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="page-not-found">
 <template>
   <style>
     :host {
       display: block;
       color: green;
     }
   </style>
      <!-- one way binding-->
   <h2>No encontrada!</h2>
  



 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class PageNotFound extends Polymer.Element {
     static get is() { return '"page-not-found'; }
     static get properties() {
       return {
         name: {
           type: String
         },
         age: {
           type: Number
         }
       };
     }
   }

   window.customElements.define(PageNotFound.is, PageNotFound);
 </script>
</dom-module>
