<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-usuario/visor-usuario.html">
<link rel="import" href="/src/visor-cuenta/visor-cuenta.html">
<link rel="import" href="/src/visor-movimiento/visor-movimiento.html">

<dom-module id="maneja-front">
  <template>
    <style>
      :host{
        display:block;
      }
    </style>
    <!-- <h1> Con Manejador </h1> -->
      <login-usuario id="loginusr"></login-usuario>
    - <visor-usuario id="vusuario"></visor-usuario> 
    <!-- FR17 0151 3765 34DM XYE7 KSX0 L87  AD71 1476 3288 RZFM G1EB YHRJ-->
    -- <visor-cuenta id="16"></visor-cuenta>
      <visor-movimiento iban="FR17 0151 3765 34DM XYE7 KSX0 L87"></visor-movimiento>

  </template>
  <script>
    class ManejaFront extends Polymer.Element{
      static get is() {return 'maneja-front';}
      ready(){
        super.ready()
        this.$.loginusr.addEventListener('loginok', e =>{this.procesarLogin(e)})
        }
      static get properties() {
          return {
          }
          };

      procesarLogin(e){
        console.log(" soy el padre" + e.detail);
        this.$.vusuario.showData(e.detail);

      }

    }
       window.customElements.define(ManejaFront.is, ManejaFront);
  </script>






</dom-module>
