<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="componente-test">
  <template>
    <style>
      :host {
        display: block;
        color: blue;
      }
    </style>
    <h2>Nombre [[name]]!</h2>
    <h2>Edad [[age]]!</h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer linea 18 y 19 y 3 igual cambia es el guion en la 18
     */
    class ComponenteTest extends Polymer.Element {
      static get is() { return 'componente-test'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'Fredy Yecid Castro Agray'
          },
          age: {
            type: Number,
            value: 42
          }
        };
      }
    }

    window.customElements.define(ComponenteTest.is, ComponenteTest);
  </script>
</dom-module>
